body {
    background-color:rgba(0, 146, 255, 0.3);
    font-family: tahoma;
}
.passbg {
    background-color: white;
    width: 400px;
    height: 300px;
    margin-left: calc(50% - 200px);
    margin-top: 10%;
    display: grid;
    align-items: center;
    border-radius: 10px;
    font-family: Tahoma;
    
}
.loginemailinput, .loginpasswordinput {
	border: none;
    border-bottom: 1px solid black;
    outline: none;
    display: block;
    margin: 0 auto;
}
.loginsubmitbutton {
	border: none;
    background-color: lightblue;
    text-align: center;
    width: 150px;
    height: 30px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
table {
    margin: auto;
    position: relative
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}